{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <style>
        body{
            background-color:rgb(233, 227, 227) ;
        }
    </style>

    <body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3><i class="fa-solid fa-user"></i> &nbsp; Profile Management</h3>
            <hr>
        </div>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Update your account </h3>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{user_form.username|as_crispy_field}}  <!--user_form comes from views.py line 56-->
                
                {{user_form.email|as_crispy_field}}
                
                <br>
                <!--<button type="submit" class="btn btn-dark btn-sm w-100 btn-block p-2"> &nbsp; Update your account</button>-->
                <button type="submit" class="btn btn-dark rounded"> &nbsp; Update your account</button>
                

            </form>   
        </div>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout" > 
            <h3>Delete your account</h3>
            <hr>
            <br>
            <a class="btn btn-outline-danger navbar-btn text-red rounded" type="button" href="{% url 'delete-account' %}">Delete account</a>
            
        </div>
    </body>
<br><br>

{% endblock %}